@use '_mixins.scss' as *;

.u-flex {
  --justify: center;
  --align: center;
  --width: auto;

  display: flex;

  align-items: var(--align);
  flex-direction: column;
  justify-content: var(--justify);
  width: var(--width);
}

// Clases base
@include generate-responsive-utilities('');

// Clases responsive
@each $breakpoint, $value in $breakpoints {
  @include respond-to($breakpoint) {
    @include generate-responsive-utilities('#{$breakpoint}-');
  }
}

.u-skeleton {
  animation: skeleton 3s infinite linear;
  background: linear-gradient(110deg, #c0c0c0 10%, #a5a5a5 50%, #c0c0c0 90%);
  background-size: 200% 100%;
  border-radius: 10px;
  height: 10px;
  width: 100%;
}

@keyframes skeleton {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

.u-modal-active {
  height: 100%;
  overflow: hidden;
}
